[Unit]
Description=Update ddnss.de entry for %i
Requires=network-online.target
After=network-online.target

[Service]
DynamicUser=on
ExecStart=/usr/bin/ddnssupd %i
